body {
    background-color: #f8f9fa;
}
.container {
    max-width: 480px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
footer {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}